<div class="list">
  <cdk-virtual-scroll-viewport
    [itemSize]="itemHeightPx"
    [style.height.px]="viewHeightPx"
    [minBufferPx]="itemHeightPx"
    [maxBufferPx]="itemHeightPx * 2"
  >
    <ng-template #emptyMessageTmpl>
      <div class="list__empty-message">{{emptyMessage}}</div>
    </ng-template>
    <ng-container *ngIf="items?.length; else emptyMessageTmpl">
      <ng-container *cdkVirtualFor="let item of items; templateCacheSize: 0; trackBy: trackBy">
        <app-list-item
          class="list__item"
          [style.height.px]="itemHeightPx"
          [item]="item"
          [itemRenderer]="itemRenderer"
          [itemHeightPx]="itemHeightPx"
        ></app-list-item>
      </ng-container>
    </ng-container>
    <div class="list__actions">
      <app-button title="+" (buttonClick)="add.emit()"></app-button>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
